#parent-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
#parentInput {
    margin: 0 auto;
    width: 80px;
    border-radius: 5px;    
    border: 1px solid #d0d2cf;
    
}
#curentPrice {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#cancelPrice {    
    background-color: white;
    height: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    line-height: 0;
    font-size: 10px;
    margin-left: 10px;
}

.parent-input-green {
    box-shadow: 0 0 50px 0 rgba(0, 242, 7, 1);
}


.parent-input-red {
    box-shadow:   0 0 50px 0 rgba(242, 0, 0, 0.52) ;
}
