.bottom {
    background-color: $black;
    height: fit-content;
    align-items: center;
    margin-top: 42px;
    padding-top: 38px;
    padding-bottom: 47px;

    &__container {
        max-width: 684px;
    }

    &__title {
        margin-bottom: 8px;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        @include fontStyleBold;
        font-size: 14px;
        line-height: 22px;
    }
&__slogan{
    
    display: block;
    height: 58px;
    overflow: hidden;
    margin: 0 auto;
        margin-bottom: 26px;
}
    &__text {   
     margin: 0 auto;
        max-width: 303px;
        color: $white;
        text-align: center;
        @include fontStyleNorm;
        font-size: 12px;
        line-height: 20px;
        
    }
    &__text-desc{
        max-width: 684px;
        overflow: hidden;
        color: $white;
        text-align: center;
        @include fontStyleNorm;
        font-size: 16px;
        line-height: 28px;
        margin: 0 auto;
        margin-bottom: 26px;
    }

    &__social-icons {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    &__social-icons a {
        cursor: pointer;
    }

   

    &__contacts {
        
        margin: 0 auto;
        text-align: center;
        padding: 0 40px;
    }

    &__contacts a {
        text-decoration: none;
        @include fontStyleNorm;
        font-size: 14px;
        line-height: 24px;
        color: $footContact;
    }
}