.main {
    
    &__top-image {
        width: 100%;
        margin-bottom: 38px;
    }

    &__posts-title {
        text-transform: uppercase;
        @include fontStyleBold;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 23px;
        color: $titlesCol;
    }

    &__content-posts {
        display: grid;
        grid-gap: 30px;
    }

    &__post {
        max-height: 190px;
        overflow: hidden;
        max-width: 555px;
    }
    

    &__post-paragraph {
       color: $postText;
        @include fontStyleNorm;
        font-size: 14px;
        line-height: 26px;
    }

    &__post-link {
        text-decoration: none;
        @include fontStyleNorm;
        font-size: 12px;
        line-height: 20px;


        color: $postLink;
    }

    &__post-title {
        color: $titlesCol;
        @include fontStyleBold;
        font-size: 14px;
        line-height: 30px;
    }
}