body * {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', sans-serif;
}

.hero {
    padding: 30px;
}
.bg-color{
    background: #08090A;
    height: 100%;
    width: 100%;
}

.container {
    width: 1280px;
    margin: 0 auto;
}
.theme-changer{
    margin-top: 10px;
    background: #dce6ff;
    border-color:#dce6ff;
    height: 40px;
    font-weight: lighter;
    font-size: 22px;
}

.logo > a {
    text-decoration: none;
    color: #F8F8F8;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 80px;
}

ul > li {
    list-style: none;
}

ul > li > a {
    text-decoration: none;
}

.navigation-list {
    background: #F1AD1D;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.navigation-list-item {
    border-left: 1px #08090A solid;
    padding: 15px 40px 15px 40px;
}

.navigation-list-item:hover {
    background: #F48E0B;
}

.item-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #08090A;
}

.content-box {
    display: flex;
    justify-content: space-around;
}

.info {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.info-list {
    border: 1px solid #000000;
}

.info-list-link {
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #F8F8F8;
}

.info-list-link:hover {
    color: #F48E0B;
}

.info-list-item {
    padding: 20px 15px 20px;
}

.info-list-item:hover {
    background: #8b8b8b;
}

.text-box-info {
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    width: 930px;
    margin-left: 50px;
}
.content{
    background: #08090A;
}

.text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
    color: #F8F8F8;
}

.text-box-info > :first-child {
    padding: 50px 310px 50px;
    border: 1px solid #000000;
}

.text-block-img {
    height: 380px;
    width: 320px;
    padding: 100px;
}

.bottom-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #F1AD1D;
}

.bottom-list > :last-child {
    margin-left: 100px;
    margin-right: 40px;
}

.bottom-list > :first-child {
    margin-left: 40px;
}

.bottom-list-item {
    margin: 20px 75px 20px 0;
}

.bottom-list-link {
    font-size: 20px;
    line-height: 28px;
    color: #F8F8F8;
}

.move:hover {
    color: #08090A;
    border-bottom: 1px solid #08090A;
}

.blue-text {
    color: #F1AD1D;
}

