body{
    background: black;
}
.animation-box {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 250px;
    line-height: 1.5;
    overflow: hidden;
}

.animation-text{
    color: greenyellow;
    font-size: 40px;
    text-align: center;
    position: absolute;
    animation-name: episode;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transform: perspective(400px) rotateX(20deg);
    transform-origin: 50% 80%;
}

@keyframes episode {
    0% { top: 100%; }
    100% { top: -100%;}
}







