.container{
    display: inline-block;
    width: 1280px;
    height: 1220px;
    border: 1px solid black;
    padding: 60px 99px 30px 98px;
    justify-content: center;



}
.logo-cap{

    display: flex;
    height: 79px;
    width: 1280px;
    padding-left: 0;
    font-size:80px ;
    text-align: center;


}
.logo-start{
    color: black;
    text-decoration: none;

}
.logo-end{
    color:blue;
    text-decoration: none;

}
.menu-nav{
    display: inline-block;
    margin-top: 38px;
    height: 72px;
    background: #35444F;

}
.menu-nav-ul{
    display: flex;
    width: 1280px;
    font-size: 24px;
    justify-content: space-between;

}


.menu-nav li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    height: 69px;
    margin: 0 32px;

}

.menu-nav-line {
    border-left: 1px solid white;

}

.container-content-gallery{
    display: flex;
    margin-top: 54px;
    margin-bottom: 51px;
    height: 832px;

}

.aside-gallery{
    display: inline-block;
    width: 344px;
    height: 399px;
    padding: 26px 0 30px 44px;
    border: 1px solid blue;

}
.link-menu li a{
    display: flex;
    font-size: 27px;
    line-height: 27px;
    height: 52px;
    padding: 13px 0 13px 0;
    text-decoration: none;

}

.image-baran-text{
   margin-left: 52px;

}
.image{
    border: 1px solid black;
    padding: 75px 268px 73px 297px;
    width: 320px;
    height: 381px;

}

.text-under{
    width: 885px;
    height: 120px;
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;

}
.text-under-next{
    width: 885px;
    height: 109px;
    margin-top: 34px;
    margin-bottom: 54px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;

}

.bottom-container{
    margin-bottom: 30px;
}

.bottom-menu-items{
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    width: 1200px;
    height: 69px;
}
.bottom-menu-item{
    display: inline-block;
    list-style: none;

}
.bottom-menu-item-link{
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927
}
.bottom-text{
    display: flex;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    color: #010101;
    padding-left: 82px;
    padding-right: 40px;
}
