.milan-hollidays{
    height: 768px;
    background-image: url(../img/bcgd.png);
    background-size: cover;

}
.container-milan{
    width: 1030px;
    height: 621px;
    margin: 0 auto;

}

.nav-bar{
    display: flex;
    height: 61px;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 20px;
}
.logo-info{
    display: flex;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo-info:hover{
    color:#F26522;
}

.icon-link{
   margin-right: 8px;
}
.icon-link:hover{
    content:url("../img/logo 2.png");
}

.milan-text{
    font-weight: bold;
    font-size: 29px;
    text-transform: uppercase;
    flex-direction: column;
    display: flex;
    justify-content: space-between;

}


.holiday-text{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;

}

.logo-contacts{
    display: flex;
    flex-direction: column;
    line-height: 18px;
    margin-bottom: 20px;
    justify-content: space-between;

}
.link-mail{
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    text-decoration: none;

}

.link-mail:hover{
    color:#F26522;
}
.link-tel{
    display: flex;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: auto;
    margin-top: 20px;

}

.link-tel:hover{
    color:#F26522;
}

.content-tours{
    display: flex;
    flex-direction:column;

}

.tours{
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;

}

.tours-text{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}
.orange-shopping-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 55px;
    width: 275px;
    padding: 0 14px 12px 16px;
    visibility: hidden;
    background-color: #F26522;

}
.tour-card{
    text-decoration: none;
}

.tour-card:hover .orange-shopping-box {
    visibility: visible;
    margin-top: -70px;
}

.tour-card:hover .tours-text {
    color: orange;
}
.shopping-from{
    display: flex;
    height: 14px;
    font-size: 10px;
    align-items: center;
    color: #FFFFFF;
}
.shopping-euro{
    font-size: 20px;
    display: flex;
    color: #FFFFFF;
}
.shopping-view{
    color: #FFFFFF;
}
.shopping-view::after{
    content:url("../img/Vector 1.png");
    margin-left: 16px;
}

.text-footer{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 30px;
    justify-content: center;
}