@import "globals/reset";
@import "globals/vars";
@import "globals/mixins";
@import "sections/hero";
@import "globals/mediaHero";
@import "sections/editor";
@import "sections/get";
@import "sections/about";
@import "globals/mediaAbout";
@import "sections/price";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.page-container{
  min-width: 320px;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
