.body{
    width: 1366px;
    height: 770px;
    margin: 0 auto;

}
.content-form{
    height: 770px;
    background-image: url(../img/bcgd.png);
    background-size: cover;

}
.nav-bar{

    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;

}
.logo-nav{
    display: flex;
    width: 157px;
    height: 22px;



}
.logo-text{
    margin-left: 79px;
    margin-right: 704px;
    margin-top: 18px;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;


}
.logo-text:hover{
    color:green;
}

.nav-icons-welcome{
    width: 426px;
    height: 24px;
    display: flex;

}

.logo-vectors{
    display: flex;
    padding-top: 17px;




}
.logo-vector{
    margin-right: 25px;

}
.logo-vector:hover path{
    fill: #3CB878;
}



.logo-items{
    display: flex;
    margin:20px 79px 53px ;

}

.welcome-logo{
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    width: 180px;




}
.logo-items::before {
    content: url("../img/line.svg");
    margin-right: 27px;


}
.logo-item{
    text-decoration: none;
    color: white;
    font-size: 14px;



}
.logo-item:hover{
    color:green;
}

.modal-container{
    width: 444px;
    height: 600px;
    margin: 40px auto;
    background-color: white;
}
.modal-content{
    display: flex;
    width: 324px;
    flex-wrap: wrap;
    margin: auto;

}
.sing-up{
    display: flex;
    justify-content: space-between;
    width: 444px;
    margin-top: 31px;

}
.text-sing{
    font-size: 20px;
    display: flex;
    color: #434343;
    margin-right: 180px;
    justify-content: space-between;
}
.sing-up::before{
    content:url("../img/shape.png");
    margin-left: -60px



}
.text-log-in{
    font-size: 14px;
    display: flex;
    color: #3CB878;
    text-decoration: none;
}
.text-log-in:hover{
    text-decoration: underline;
    color: #01813F;

}
.block-fb-ggl{
    display: flex;
    justify-content: space-between;
    width: 332px;
    margin: 15px auto 31px;

}

.fb{
    width: 160px;
    height: 48px;
    background: #305DB8;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-right: 5px;

}
.fb:before{
    content: url("../img/f 1.png");
}

.ggl{
    display: flex;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;

}
.ggl::before{
    content: url("../img/G+.png");
    margin-left: 12px;
}

.or-line{
    display: flex;
    text-align: center;
    width: 15px;
    height: 14px;
    font-size: 14px;
   align-items: center;
   color: #848484;


}
.or-line::before{
    content: url("../img/line or.png");
    margin-left: 5px;
}
.or-line::after{
    content: url("../img/line or.png");
    margin-right: 5px;
}

.box-form{
    width: 324px;
    height: 285px;
    color: #fff;
    margin: 0 auto;

}

.box-form-input{
    box-sizing: border-box;
    font-size: 14px;
    color: #BEBEBE;
    width: 324px;
    height: 45px;
    margin-top: 15px;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;

}
.box-form-input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;

}
.checkbox-items{
    width: 240px;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    margin: 20px 113px 20px 65px;
}
.checkbox-text{
    text-decoration: none;
    color: rgba(60, 184, 120, 0.8);
}
.checkbox-text:hover{
    text-decoration: underline;
    color: #01813F;

}

.create-button{
    display: flex;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    border: none;
    color: #FFFFFF;
    width: 324px;
    margin: 0 auto;


}
.create-button:hover{
    background: #01813F;

}





