a {
    text-decoration: none;
}

ul,
ol,
nav {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

button,
input[type="submit"] {
    cursor: pointer
}

button {
    outline: none;
    border: none
}

body,
html {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    min-width: 1200px;
}

:root {
    --color-white: #fff;
    --color-white-opacity: rgba(255, 255, 255, .4);
    --color-grey-light: #d8d8d8;
    --color-theme-blue: #18CFAB;
    --color-theme-sky-blue: #00CBF6;
    --font-default: 14px;
}


.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}


.colored-text {
    color: var(--color-theme-blue);
}


.btn {
    width: 170px;
    height: 65px;
    color: var(--color-white);
    font-size: calc(var(--font-default) * 1.0715);
    text-transform: uppercase;
    font-weight: 700;
    background: var(--color-white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    z-index: 1;
}

.btn-shadow {
    box-shadow: 0 -5px var(--color-white);
}


.btn-plus-icon {
    justify-content: flex-start;
}

.btn-plus-icon::before {
    content: '+';
    font-size: calc(var(--font-default) * 2.1429);
    font-weight: 700;
    padding-left: 20px;
    padding-right: 15px;
}

.btn-blue {
    background: var(--color-theme-blue);
}

.btn-sky-blue {
    background: var(--color-theme-sky-blue);
}

.button-block {
    display: flex;
    justify-content: center;
}


.tab-button,
.filter-button {
    display: none;
}


.section-title {
    font-size: calc(var(--font-default) * 2.5715);
    color: #4E4E4E;
    text-transform: capitalize;
    text-align: center;
}

.section-title::after {
    content: '';
    display: block;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 2px;
    background: var(--color-theme-blue);
    box-shadow: 12px 4px var(--color-theme-blue);
}

.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}


.top-menu::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #5E5D58;
    opacity: .6;
}

.top-menu-container {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    position: relative;
    z-index: 2;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

.logo-image {
    height: 70px;
    width: 60px;
    background: var(--color-theme-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-right: 6px;
}

.logo-litera {
    font-size: calc(var(--font-default) * 2.8572);
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
}

.logo-text {
    font-size: calc(var(--font-default) * 2.2858);
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--color-white);
}

.logo-text-color {
    font-weight: 700;
}

.top-menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
}

.top-menu-list li {
    margin-right: 21px;
    border-bottom: 2px solid transparent;
    padding-top: 50px;
    padding-bottom: 50px;
}

.top-menu-list a {
    text-transform: uppercase;
    font-size: calc(var(--font-default) * 1.1429);
    font-weight: 700;
}

.top-menu-list a,
.search-icon path {
    color: var(--color-white-opacity);
}

.top-menu-list li:hover a {
    color: var(--color-theme-blue);
}

.top-menu-list li:hover {
    border-bottom: 2px solid var(--color-theme-blue);
}


.wp-theme {
    background: #000 url(../img/sections_background/section1.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}


.wp-theme::after {
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background: var(--color-white);
    opacity: .2;
}

.theme-header-block {
    text-align: center;
    padding-top: 380px;
    padding-bottom: 245px;
    color: var(--color-white)
}

.theme-sub-title {
    font-size: calc(var(--font-default) * 2.5);
    text-transform: uppercase;
    font-weight: 700;
}

.theme-title {
    font-size: calc(var(--font-default) * 5.5715);
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 22px;
}

.theme-text {
    font-size: calc(var(--font-default) * 2.4286);
    text-transform: capitalize;
    font-weight: 200;
    letter-spacing: 1px;
    color: #D4D4D4;
    margin-bottom: 135px;
}



.theme-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.theme-option {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-theme-blue);
    background: #1C2A33;
    font-size: calc(var(--font-default) * 1.4286);
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 100px;
}

.theme-option:nth-child(even) {
    color: var(--color-white);
    background: var(--color-theme-blue);
}

.theme-option-text {
    margin-top: 50px;
}


.theme-services {
    padding-top: 90px;
    padding-bottom: 90px;
}

.theme-services-tab-block {
    margin-top: 70px;
}

.theme-services-tab-buttons {
    display: flex;
    justify-content: center;
}

.tab-label {
    text-align: center;
    padding: 17px 35px;
    flex-grow: 1;
    box-sizing: border-box;
    border: 1px solid #EDEFEF;
    position: relative;
    font-size: calc(var(--font-default) * 1.1429);
    text-transform: capitalize;
    color: #717171;
    margin-bottom: 25px;
    cursor: pointer;
}

.tab-label:not(:first-of-type) {
    border-left-color: transparent;
}

.tab-label::after {
    content: '';
    position: absolute;
    width: 27px;
    height: 15px;
    top: 100%;
    left: 55%;
    transform: translateX(-100%);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: var(--color-theme-blue);
    display: none;
}

.tab-label:hover {
    border: 1px solid var(--color-theme-blue);
}

.tab-button:checked+.tab-label {
    color: var(--color-white);
    background: var(--color-theme-blue);
    border-color: var(--color-theme-blue);
}

.tab-button:checked+.tab-label::after {
    display: block;
}

.tab-block {
    display: flex;
    align-items: flex-start;
    height: 140px;
}

.tab-block:not(:nth-of-type(1)) {
    display: none;
}

.tab-image {
    width: 192px;
    height: 139px;
    margin-right: 15px;
}

.tab-text {
    color: #777;
    font-size: var(--font-default);
    line-height: calc(var(--font-default) * 1.7143);
    overflow-y: auto;
    height: 100%;
}



.install-now {
    background: #000 url(../img/sections_background/section2.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;

}

.install-now::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
}

.install-now-inner {
    position: relative;
    z-index: 2;
    text-align: center;
}

.install-now-title { 
    font-size: calc(var(--font-default) * 2.8572);
    font-weight: 700;
    text-transform: uppercase;
}

.install-now-text {
    font-size: calc(var(--font-default) * 1.1429);
    color: #d8d8d8;
    margin: 15px 0 65px;
}



.amazing-work,
.breaking-news {
    padding-top: 90px;
    padding-bottom: 90px;
}

.amazing-work {
    background: #E9EDEF;
}


.filter-block-wrapper {
    margin-top: 70px;
}

.filter-button-block {
    display: flex;
    justify-content: center;
}

.filter-block {
    margin-top: 70px;
    margin-bottom: 70px;
}

.filter-label {
    min-width: 80px;
    padding: 15px;
    text-align: center;
    font-size: var(--font-default);
    color: #717171;
    text-transform: capitalize;
    border: 1px solid #dadada;
    cursor: pointer;
}

.filter-label:not(:first-of-type) {
    border-left-color: transparent;
}

.filter-button:checked+.filter-label {
    border-color: var(--color-theme-blue);
    color: var(--color-theme-blue);
}

.filter-block {
    display: flex;
    flex-wrap: wrap;
}

.filter-block-elem {
    width: calc(100% / 4);
    height: 215px;
    object-fit: cover;
    cursor:pointer;
}

.filter-block-elem:hover .filter-block-elem-image {
    display: none;
}

.filter-block-elem:hover .filter-block-elem-info {
    display: block;
}


.filter-block-elem-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.filter-block-elem-info {
    border-top: 2px solid var(--color-theme-blue);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    display: none;
}

.elem-info-links {
    display: flex;
    justify-content: center;
}

.elem-info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid var(--color-theme-blue);
    border-radius: 50%;
}

.elem-info-link:not(:first-of-type) {
    margin-left: 3px;
}

.elem-info-link svg path,
.elem-info-link svg rect {
    fill: var(--color-theme-blue);
}

.elem-info-link:hover {
    background: var(--color-theme-blue);
}

.elem-info-link:hover svg path,
.elem-info-link:hover svg rect {
    fill: var(--color-white);
}

.elem-info-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: var(--font-default);
    font-weight: 700;
    color: var(--color-theme-blue);
    text-transform: uppercase;
}

.elem-info-category {   
    font-size: calc(var(--font-default) * 0.8572);
    font-weight: 300;
    color: #8A8A8A;
    text-transform: capitalize;
}




.breaking-news-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}



.breaking-news-elem {
    width: calc(100% / 4 - (35px * 3 / 4));
}

.breaking-news-link {
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 45px;
}

.breaking-news-link:hover .post-title {
    color: var(--color-theme-blue);
}

.breaking-news-link:hover .post-date {
    background: var(--color-theme-blue);
}

.post-image {
    width: 100%;
    height: 208px;
    object-fit: cover;
}

.post-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: calc(var(--font-default) * 1.2858);
    color: #717171;
    font-weight: 700;
    text-transform: capitalize;
}

.post-credentials-item {
    display: inline-block;
    color: #777;
    font-size: var(--font-default);
    font-weight: 300;
}

.post-credentials-item:nth-of-type(odd)::after {
    content: '|';
    margin-left: 5px;
    margin-right: 5px;    
}

.post-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 65px;
    background: #203E38;
}

.post-date-date,
.post-date-month {
    font-size: calc(var(--font-default) * 1.1429);
    color: var(--color-white);
}

.post-date-month {
    margin-top: 10px;
    text-transform: capitalize;
}





.image-slider {

    text-align: center;
    width: 100%;
    height: 854px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/section-slider/background-slider.jpg);
}

.image-slider-title {
    color: var(--color-white);
    font-size: 36px;
    line-height: 40px;
    margin-top: 98px;
}

.image-slider-title::after {
    content: '';
    display: block;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 2px;
    background: var(--color-theme-blue);
    box-shadow: 12px 4px var(--color-theme-blue);
}

.slide-text {
    color: #bbb;
    position: relative;
    margin-top: 137px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.slide-text::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 31px;
    bottom: 92px;
    left: calc(50% - 22px);
    background: url(../img/section-slider/invertedcommas.png);
}

.slide-text-info {
    width: 1160px;
    margin: 0 auto;
}

.image-slider__image {
    margin-top: 52px;
    text-align: center;
}

.image-slider__image img {
    height: 142px;
    width: 142px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 12px rgba(31, 218, 181, 0.2);

}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--color-theme-blue);
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    width: 31px;
    line-height: 31px;
    color: var(--color-white);
    font-size: 10px;
}

.simage-slider .swiper-pagination {
    bottom: 0px;
    height: auto;
}

.image-slider .swiper-pagination-bullet {
    width: 60px;
    height: 60px;
    background-color: var(--color-white);
}

.slide-feedback-author {
    margin-top: 37px;
    color: var(--color-theme-blue);
    font-weight: bold;
    font-size: 16px;
}

.author-position {
    margin-top: 13px;
    color: #BBBBBB;
    font-weight: normal;
    font-size: 13px;
}



footer {
    background: #22353F;
    color: #AEAEAE;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: var(--font-default);
    letter-spacing: 1px;
}


.preloader-bg {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 2s;
    display: none;
    justify-content: center;
    align-items: center;
}

.preloader-bg::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
}

.preloader-block {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.preloader-xy,
.preloader-xz {
    position: absolute;
    z-index: 20000;
}

.preloader-xy {
    border: 4px solid var(--color-theme-blue);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    animation: preloaderXY 2s linear infinite;
}





@keyframes preloaderXY {
    0% {
        transform: rotateZ(0deg);
        border-left-color: var(--color-white);
    }

    25% {
        transform: rotateZ(180deg);
        border-left-color: var(--color-white);
        border-top-color: var(--color-white);
    }

    50% {
        transform: rotateZ(360deg);
        border-left-color: var(--color-white);
        border-top-color: var(--color-white);
        border-right-color: var(--color-white);
    }

    75% {
        transform: rotateZ(540deg);
        border-color: var(--color-white);
    }

    100% {
        transform: rotateZ(720deg);
        border-color: var(--color-theme-blue);
    }
}

