@media (min-width: 481px) {
    .people-about {
        &__review {
            max-width: 345px;
            width: calc((100% / 2) - 25px);
        }

        &__reviews {
            justify-content: space-around;
            flex-direction: row;
        }
        &__reviewer-logo{
            max-width: 100%;
        }
    }
}


