@mixin montBold { 
    font-family: $fontFamily; 
    font-style: normal; 
    font-weight: bold; 
} 
@mixin montNorm{ 
    font-family: $fontFamily; 
    font-style: normal; 
    font-weight: normal; 
} 
@mixin latoBold { 
    font-family: Lato; 
    font-style: normal; 
    font-weight: bold; 
} 
@mixin latoNorm { 
    font-family: Lato; 
    font-style: normal; 
    font-weight: normal; 
} 
@mixin latoItal { 
    font-family: Lato; 
    font-style: italic; 
    font-weight: bold; 
} 
@mixin bgPosition { 
    background-position: center; 
    background-clip: border-box; 
    background-repeat: no-repeat; 
    background-size: cover; 
    text-align: center; 
} 
 
@mixin flexblock { 
    display: flex; 
    align-items: center; 
} 
 
@mixin flexblockcenter { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
 
@mixin btn { 
    background-color: $mainCol; 
    border-radius: 40px; 
    min-width: 119px; 
    min-height: 37px; 
    border: none; 
    position: absolute; 
    cursor: pointer; 
    color: $white; 
    @include montBold; 
}
