.hero { 
    background-image: url(src/img/header-bg.png); 
    @include bgPosition; 
    position: relative; 
    background-size: cover; 
    min-width: 340px; 
} 
 
.hero-nav { 
    @include flexblock; 
    justify-content: space-between; 
    background: #27262A; 
    min-height: 103px; 
    max-height: 118px; 
 
    &__logo { 
        text-decoration: none; 
        color: $mainCol; 
        display: flex; 
        align-items: center; 
    } 
 
    &__logo-text { 
        display: none; 
        padding-left: 17px; 
    } 
 
 
    &__logo:hover &__logo-img { 
        content: url(src/img/logo-hover.png); 
        color: white; 
    } 
 
    &__logo:hover &__logo-text { 
        color: white; 
    } 
 
    &__buy-btn { 
        @include btn; 
        font-size: $fontSizeMiddle; 
        line-height: 15px; 
        left: calc(50% - (119px/2)); 
    } 
 
    &__buy-btn:hover { 
        background-color: $white; 
        color: $mainCol; 
        border: 1px solid $mainCol; 
    } 
 
    &__download-btn { 
        @include btn; 
        @include montBold; 
        line-height: 20px; 
        left: calc(50% - (290px/2)); 
        bottom: -3%; 
        font-size: 21px; 
    } 
 
    &__download-btn:hover { 
        background-color: $white; 
        color: $mainCol; 
        border: 2px solid $mainCol; 
    } 
 
    &__buy-btn-descr { 
        min-width: 214px; 
        position: absolute; 
        color: #848E97; 
        @include montNorm ; 
        font-size: $fontSizeSmall; 
        line-height: 14px; 
        bottom: -7%; 
        left: calc(50% - (214px/2)); 
    } 
 
 
    &__dropbtn { 
        position: relative; 
        width: 44px; 
        height: 37px; 
        background-color: none; 
        color: $white; 
        background-color: #27262A; 
        border: none; 
        cursor: pointer; 
 
 
    } 
 
    &__dropbtn span, 
    &__dropbtn span::before, 
    &__dropbtn span::after { 
        margin-top: -1px; 
        margin-left: -10px; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        width: 26px; 
        height: 3px; 
        background-color: $white; 
        border-radius: 5px; 
    } 
 
    &__dropbtn span::before, 
    &__dropbtn span::after { 
        content: ''; 
        display: block; 
        transition: 0.5s; 
 
    } 
 
    &__dropbtn span::before { 
        transform: translateY(-8px); 
        width: 13px; 
        left: 23px; 
    } 
 
    &__dropbtn span::after { 
        transform: translateY(8px); 
        left: 10px; 
 
    } 
 
 
 
    &__dropdown-content { 
        display: none; 
        // width: calc(100% - 30px); 
        position: absolute; 
        background: #333333; 
        min-width: 160px; 
        z-index: 1; 
        top: 6.4em; 
        left: 10px; 
        right: 10px; 
    } 
 
    &__dropdown-content a { 
        width: 100%; 
        text-align: left; 
        color: $white; 
        padding: 25px 0 25px 35px; 
        text-decoration: none; 
        display: block; 
        @include montNorm; 
        font-size: 26px; 
        line-height: 26px; 
        border-bottom: 2px solid #3B3B3B; 
        position: relative; 
    } 
 
 
 
    &__dropdown-content a:focus::before { 
        content: ''; 
        background-color: $mainCol; 
        position: absolute; 
        width: 8px; 
        height: 53px; 
        top: 11px; 
        left: 0; 
 
    } 
 
    &__dropdown-content a:focus { 
        color: $mainCol; 
    } 
} 
.show { 
    display: block; 
} 
 
.hero-nav__dropbtn_active span { 
    height: 0; 
} 
 
.hero-nav__dropbtn_active span::after { 
 
    transform: rotate(-40deg); 
} 
 
.hero-nav__dropbtn_active span::before { 
    width: 100%; 
    left: 10px; 
    transform: rotate(40deg); 
} 
 
 
.hero-information { 
 
    position: relative; 
 
    &__title { 
        display: block; 
        padding-top: 50px; 
        color: $white; 
        font-family: $fontFamily; 
        font-style: normal; 
        font-weight: bold; 
        font-size: 48px; 
        line-height: 48px; 
        text-align: center; 
    } 
 
    &__text {
        display: block; 
        margin: 0 auto; 
        max-width: 260px; 
        padding-top: 19px; 
        text-align: center; 
        color: $mainCol; 
        font-family: $fontFamily; 
        font-style: normal; 
        font-weight: normal; 
        font-size: $fontSizeLarge; 
        line-height: 24px; 
    } 
 
    &__link { 
        display: block; 
        margin-top: 15px; 
        text-transform: uppercase; 
        text-decoration: none; 
        font-family: $fontFamily; 
        font-style: normal; 
        font-weight: normal; 
        font-size: $fontSizeSmall; 
        line-height: 14px; 
        color: #848E97 
    } 
}
